body {
  background-color: #fff;
  background-image: url('data:/rgjoierfjeori');
  color: #000;
}
div {
  background-image: url('/Placeholder.svg');
}
p {
  text-transform: uppercase;
  background-image: url('does-not-exist.png');
}
